:root{
    --color-white: #fff;
    --color-dark1: #181818;
    --color-dark2: #1e1e1e;
    --color-green1: #0ebb79;
    --color-green2: #26f7a7;
    --color-red: #ce1818;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-dark1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--color-white)
}

.content{
    background-color: var(--color-dark2);
    padding: 2rem;
    border-radius: 9px;
    min-width: 30%;
    overflow: auto;
}

.content form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1{
    text-align: center;
    margin-bottom: 1rem;
}

.inputs{
    padding: 8px 5px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    background-color: var(--color-dark1);
    border: 2px solid var(--color-dark1);
    color: var(--color-white);
    box-sizing: border-box;
    transition: 0.4s;
    resize: none;
}

.inputs:focus{
    border-color: var(--color-green1)
}

.select{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    gap: 1rem;
}

button[type="submit"]{
    padding: 1rem;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: var(--color-green1);
    cursor: pointer;
    transition: 0.4s;
}

button[type="submit"]:hover{
    background-color: var(--color-green2);
}

.span-required{
    display: none;
    font-size: 12px;
    color: var(--color-red);
    margin: 3px 0 0 1px;
}

@media screen and (max-width: 576px) {
    .select{
        flex-direction: column;
        gap: 5px;
    }
}